<div class="container">

    <h1>{{restaurantName}}</h1>
    <div>
        <div class="form-inline">

            <img src={{restaurant.imageUrl}} style="width: 30%; height: 30%; border:5px solid #000000; float: left"
                 hspace="20">

            <div style="float: right">
                <p>Address: {{restaurant.address}}, {{restaurant.city}}, {{restaurant.state}}</p>
                <p>Phone: {{restaurant.phone}}</p>
                <p>Number of Visits: {{patrons.length}}</p>
                <p>Hours of Operation: {{restaurant.hoursOfOpp}}</p>
                <p>Price: {{restaurant.price}}</p>

                <p>Average Rating: </p>

                <div class="input-group mb-3">
                    <input [(ngModel)]="patronUsername" type="text" class="form-control" placeholder="username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button (click)="restaurantToPatron(patronUsername)"
                                class="btn btn-dark" type="button" id="button-addon2">Visited?</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2>Visitors:</h2>
    <ul class="list-group list-group-flush" *ngFor="let patron of patrons">
        <li class="list-group-item">
            <p class="float-left">Name: {{patron.firstName}} {{patron.lastName}}</p>
            <button (click)="goToPatronsProfile(patron.id)"
                    type="button" class="btn btn-dark btn-sm float-right">View Patrons's Profile
            </button>
        </li>
    </ul>

    <h2>Reviews:</h2>
    <ul class="list-group list-group-flush" *ngFor="let review of reviews">
        <li class="list-group-item">
            <div class="float-left">
            <p>Title: {{review.title}}</p>
            <p>Review: {{review.description}}</p>
            <p>Rating: {{review.rating}}</p>
            </div>
            <button (click)="findCriticByReview(review.id)"
                    type="button" class="btn btn-dark btn-sm float-right">View Critic's Profile
            </button>
        </li>
    </ul>

    <h2>Events:</h2>


    <h3>Write a Review!</h3>

    <div>
        <div class="form-group">
            <label>Username</label>
            <input [(ngModel)]="criticUsername" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="FormControlInput2">Review Title</label>
            <input class="form-control" id="FormControlInput2" [(ngModel)]="reviewTitle"/>
        </div>
        <div class="form-group">
            <label for="FormControlTextarea1">Review Description</label>
            <textarea class="form-control" id="FormControlTextarea1" rows="3" [(ngModel)]="reviewDesription">

            </textarea>
        </div>

        <div class="form-group">
            <label>Restaurant Rating</label>

            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button (click)="setRating(1)" type="button" class="btn btn-dark">1</button>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="Second group">
                    <button (click)="setRating(2)" type="button" class="btn btn-dark">2</button>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="Third group">
                    <button (click)="setRating(3)" type="button" class="btn btn-dark">3</button>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="Fourth group">
                    <button (click)="setRating(4)" type="button" class="btn btn-dark">4</button>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="Fifth group">
                    <button (click)="setRating(5)" type="button" class="btn btn-dark">5</button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button (click)="addReview(reviewTitle, reviewDescription, criticUsername)"
                    class="btn btn-block btn-dark">Add
                Review
            </button>
        </div>

        <div class="form-group">
            <button (click)="createEvent()"
                    class="btn btn-block btn-dark">Create an Event
            </button>
        </div>

    </div>
</div>