<div class="container">
  <h1>{{patron.firstName}} {{patron.lastName}}</h1>
  <h2>{{patron.username}}</h2>
  <p>{{patron.email}}</p>
  <p>{{patron.phone}}</p>

  <div class="input-group mb-3">
    <input [(ngModel)]="ownerUsername" type="text" class="form-control" placeholder="owner username" aria-describedby="button-addon2">
    <div class="input-group-append">
      <button (click)="patronToOwner(ownerUsername)"
              class="btn btn-dark" type="button" >Invite Patron to Restaurant</button>
    </div>
  </div>

  <h3>Restaurants Visited:</h3>

  <ul class="list-group list-group-flush" *ngFor="let restaurant of restaurants">
    <li class="list-group-item">
      <p>Name: {{restaurant.name}}</p>
      <p>Address: {{restaurant.city}}</p>
    </li>
  </ul>

  <h3>Critics Followed:</h3>

  <ul class="list-group list-group-flush" *ngFor="let critic of critics">
    <li class="list-group-item">
      <p>Name: {{critic.firstName}} {{critic.lastName}}</p>
    </li>
  </ul>
</div>
