<div>
  <button (click)="goHome()" class="btn btn-link" style="color: black; float: left">Home</button>
  <button (click)="search()" class="btn btn-link" style="color: black; float: right">Search</button>
</div>
<br>
<div class="container">
  <h1>{{event.title}}</h1>
  <h3>{{event.description}}</h3>

  <div class="input-group mb-3">
    <input [(ngModel)]="patronUsername" type="text" class="form-control" placeholder="patron username" aria-describedby="button-addon2">
    <div class="input-group-append">
      <button (click)="addEventToPatron(patronUsername)"
              class="btn btn-dark" type="button" >Attend as Patron</button>
    </div>
  </div>

  <div class="input-group mb-3">
    <input [(ngModel)]="criticUsername" type="text" class="form-control" placeholder="critic username" aria-describedby="button-addon2">
    <div class="input-group-append">
      <button (click)="addEventToCritic(criticUsername)"
              class="btn btn-dark" type="button" >Attend as Critic</button>
    </div>
  </div>

  <div class="form-group">
    <button
            (click)="goToOwner()" class="btn btn-block btn-dark">View Host
    </button>
  </div>

  <h3>Patron Attendees:</h3>

  <ul class="list-group list-group-flush" *ngFor="let patron of patrons">
    <li class="list-group-item">
      <p>Name: {{patron.firstName}} {{patron.lastName}}</p>
    </li>
  </ul>

  <h3>Critic Attendees:</h3>

  <ul class="list-group list-group-flush" *ngFor="let critic of critics">
    <li class="list-group-item">
      <p>Name: {{critic.firstName}} {{critic.lastName}}</p>
    </li>
  </ul>

</div>