<div>
  <button (click)="goHome()" class="btn btn-link" style="color: black; float: left">Home</button>
  <button (click)="search()" class="btn btn-link" style="color: black; float: right">Search</button>

</div>
<br>
<div class="container">
  <h1>Profile</h1>

  <div class="form-group">
    <input [(ngModel)]="username" placeholder="username" class="form-control"/>
  </div>
  <div class="form-group">
    <input [(ngModel)]="firstName" placeholder="first name" class="form-control"/>
  </div>
  <div class="form-group">
    <input [(ngModel)]="lastName" placeholder="last name" class="form-control"/>
  </div>
  <div class="form-group">
    <input [(ngModel)]="email" placeholder="email" class="form-control"/>
  </div>
  <div class="form-group">
    <input [(ngModel)]="phone" placeholder="phone number" class="form-control"/>
  </div>
  <div class="form-group">
    <input [(ngModel)]="dob" placeholder="date of birth (YYYY-MM-DD)" class="form-control"/>
  </div>


  <div class="form-group">
    <button (click)="update(firstName, lastName, email, phone, dob)"
            class="btn btn-block btn-dark">Update Profile</button>
  </div>

  <h3>Create Restaurant</h3>

  <div>
    <div class="form-group">
      <input [(ngModel)]="restaurantName" class="form-control" placeholder="Name"/>
    </div>
    <div class="form-group">
      <input class="form-control" id="FormControlInput2" [(ngModel)]="restaurantAddress" placeholder="Address"/>
    </div>
    <div class="form-group">
      <input class="form-control" id="FormControlInput3" [(ngModel)]="restaurantCity" placeholder="City"/>
    </div>
    <div class="form-group">
      <input class="form-control" id="FormControlInput4" [(ngModel)]="restaurantState" placeholder="State"/>
    </div>
    <div class="form-group">
    <input class="form-control" id="FormControlInput5" [(ngModel)]="restaurantPhone" placeholder="Phone"/>
  </div>


    <div class="form-group">
      <label>Price</label>

      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
          <button (click)="setPrice($)" type="button" class="btn btn-dark">$</button>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Second group">
          <button (click)="setPrice($$)" type="button" class="btn btn-dark">$$</button>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Third group">
          <button (click)="setPrice($$$)" type="button" class="btn btn-dark">$$$</button>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Fourth group">
          <button (click)="setPrice($$$$)" type="button" class="btn btn-dark">$$$$</button>
        </div>
      </div>
    </div>


    <div class="form-group">
      <button (click)="addRestaurantWithOwner(restaurantName, restaurantAddress, restaurantCity, restaurantState, restaurantPhone)"
              class="btn btn-block btn-dark">Create Restaurant
      </button>
    </div>

  <h3>Restaurants:</h3>

  <ul class="list-group list-group-flush" *ngFor="let restaurant of restaurants">
    <li class="list-group-item">
      <p>Name: {{restaurant.name}}</p>
    </li>
  </ul>


  <h3>Events:</h3>

  <ul class="list-group list-group-flush" *ngFor="let event of events">
    <li class="list-group-item">
      <p>Title: {{event.title}}</p>
      <p>Description: {{event.description}}</p>
    </li>
  </ul>

  <h3>Endorsements By Patrons:</h3>

  <ul class="list-group list-group-flush" *ngFor="let patronEndorsement of patronEndorsements">
    <li class="list-group-item">
      <p>Name: {{patronEndorsement.firstName}} {{patronEndorsement.lastName}}</p>
    </li>
  </ul>

  <h3>Endorsements By Critics:</h3>

  <ul class="list-group list-group-flush" *ngFor="let criticEndorsement of criticEndorsements">
    <li class="list-group-item">
      <p>Name: {{criticEndorsement.firstName}} {{criticEndorsement.lastName}}</p>
    </li>
  </ul>
</div>

  <h3>Invites to Patrons:</h3>

  <ul class="list-group list-group-flush" *ngFor="let patronInvite of patronInvites">
    <li class="list-group-item">
      <p>Name: {{patronInvite.firstName}} {{patronInvite.lastName}}</p>
    </li>
  </ul>

  <h3>Invites to Critics:</h3>

  <ul class="list-group list-group-flush" *ngFor="let criticInvite of criticInvites">
    <li class="list-group-item">
      <p>Name: {{criticInvite.firstName}} {{criticInvite.lastName}}</p>
    </li>
  </ul>

  <div class="form-group">
    <button (click)="logout()" class="btn btn-block btn-dark">Logout</button>
  </div>
</div>
