<div>
  <button (click)="goHome()" class="btn btn-link" style="color: black; float: left">Home</button>
  <button (click)="search()" class="btn btn-link" style="color: black; float: right">Search</button>

</div>

<div class="container">
  <h1>Profile</h1>

  <div class="form-group">
    <input [(ngModel)]="username" placeholder="username" class="form-control"/>
  </div>
  <div class="form-group">
    <input [(ngModel)]="firstName" placeholder="first name" class="form-control"/>
  </div>
  <div class="form-group">
    <input [(ngModel)]="lastName" placeholder="last name" class="form-control"/>
  </div>
  <div class="form-group">
    <input [(ngModel)]="email" placeholder="email" class="form-control"/>
  </div>
  <div class="form-group">
    <input [(ngModel)]="phone" placeholder="phone number" class="form-control"/>
  </div>
  <div class="form-group">
    <input [(ngModel)]="dob" placeholder="date of birth (YYYY-MM-DD)" class="form-control"/>
  </div>

  <div class="form-group">
  <button (click)="update(firstName, lastName, email, phone, dob)"
          class="btn btn-block btn-dark">Update Profile</button>
  </div>
  <div class="form-group">
  <button (click)="logout()" class="btn btn-block btn-dark">Logout</button>
  </div>

  <h2>Restaurants Visited</h2>

  <ul class="list-group list-group-flush" *ngFor="let restaurant of restaurants">
    <li class="list-group-item">
      <div class="float-left">
        <p>Name: {{restaurant.name}}</p>
      </div>
    </li>
  </ul>

  <h2>Favorite Critic</h2>
  <p>Name: {{favoriteCritic.firstName}} {{favoriteCritic.lastName}}</p>

  <h2>Critics Followed</h2>

  <ul class="list-group list-group-flush" *ngFor="let critic of critics">
    <li class="list-group-item">
      <div class="float-left">
        <p>Name: {{critic.firstName}} {{critic.lastName}}</p>
      </div>
      <button (click)="addFavoriteCritic(critic.id)"
              type="button" class="btn btn-primary btn-sm float-right">Favorite
      </button>
    </li>
  </ul>

  <h2>Events Attending</h2>

  <ul class="list-group list-group-flush" *ngFor="let event of events">
    <li class="list-group-item">
      <div class="float-left">
        <p>Title: {{event.title}}</p>
        <p>Description: {{event.description}}</p>
      </div>
    </li>
  </ul>

  <h2>Invitations from Owners</h2>

  <ul class="list-group list-group-flush" *ngFor="let invite of invites">
    <li class="list-group-item">
      <div class="float-left">
        <p>Name: {{invite.firstName}} {{invite.lastName}}</p>
      </div>
    </li>
  </ul>

  <h2>Owners Endorsed</h2>

  <ul class="list-group list-group-flush" *ngFor="let endorsement of endorsements">
    <li class="list-group-item">
      <div class="float-left">
        <p>Name: {{endorsement.firstName}} {{endorsement.lastName}}</p>
      </div>
    </li>
  </ul>



</div>
