<div class="container-fluid">

  <h1>Restaurant Search</h1>

<div class="form-group">
  <div class="input-group">
    <input class="form-control" [(ngModel)]="restaurantName" placeholder="Restaurant Name"/>
    &nbsp;
    <button class="btn btn-dark" (click)="searchForRestaurant(restaurantName)">Search</button>
  </div>
</div>

  <div class="container" class="card-columns">
    <div *ngFor="let restaurant of restaurants" class="card text-white bg-dark mb-2">
      <img class="card-img-top" src="{{restaurant.image_url}}" alt="Card image cap">
      <div class="card-body">
        <button (click)="goToDetail(restaurant)"
                class="btn btn-link btn-block"  style="float: left; color: white">{{restaurant.alias}}</button>
      </div>
    </div>
  </div>
</div>

