<div class="container">
    <h1>{{critic.firstName}} {{critic.lastName}}</h1>
    <h2>{{critic.username}}</h2>
    <p>{{critic.email}}</p>
    <p>{{critic.phone}}</p>

    <div class="form-group">
        <button
                class="btn btn-block btn-dark">Follow {{critic.firstName}}
        </button>
    </div>

    <div class="form-group">
        <button
                class="btn btn-block btn-dark">Invite {{critic.firstName}} to an Event
        </button>
    </div>

    <h3>Reviews:</h3>

    <ul class="list-group list-group-flush" *ngFor="let review of reviews">
        <li class="list-group-item">
            <p>Title: {{review.title}}</p>
            <p>Review: {{review.description}}</p>
            <p>Rating: {{review.rating}}</p>
        </li>
    </ul>

    <h3>Followers:</h3>
</div>